# Virtual Environment
.venv/
venv/

# Environment Variables
.env
.env.*

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Build files
build/
dist/
*.egg-info/

# Logs
*.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Data / Models
data/
models/
*.pkl
*.joblib
*.csv

# Streamlit
.streamlit/secrets.toml